section.content {
  div.book-page,
  div.book-taxonmy {
    h1 {
      margin-bottom: 0;
    }

    .subtitle {
      margin-top: 0;
    }
  }
  div.book-page {
    div.covers {
      margin-top: 2.5rem;

      @include gridle_state( mobile ) {
        img.cover {
              max-width: 7.5rem;
        }
      }
    }
  }

  div.book-list,
  div.book-taxonmy {
    div.cover-container {
      @include gridle_state ( mobile ) {
        @include gridle_clear_each( 3, both );
      }
      @include gridle_state ( tablet ) {
        @include gridle_clear_each( 3, both );
      }
      @include gridle_state ( desktop ) {
        @include gridle_clear_each( 6, both );
      }

      div.wrapper {
        padding-bottom: 1rem;
      }
      div.title {
        padding-bottom: 2rem;
      }
    }
  }
}
