section.content {
  div.book-page,
  div.book-taxonmy {
    h1 {
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
    }
  }
  div.book-page {
    div.covers {
      margin-top: 2.5rem;

      @include gridle_state( mobile ) {
        img.cover {
              max-width: 7.5rem;
        }
      }
    }
  }
}
