<ul class="side-menu">
  <li>
    <a href="/about/">ABOUT PETER</a>
    {{ if (or (eq .URL "/about/") (eq .Params.parent "about")) }}
    <ul class="sub-menu">
      <li><a href="/about/quotes/">Quotes about Peter</a></li>
      <li><a href="/about/memories-of-peter-1">Memories of Peter 1</a></li>
      <li><a href="/about/memories-of-peter-2">Memories of Peter 2</a></li>
      <li><a href="/about/memories-of-peter-3">Memories of Peter 3</a></li>
    </ul>
    {{ end }}
  </li>
  <li><a href="/timeline/">TIMELINE</a></li>

  <li><a href="/writing/">ABOUT WRITING</a></li>
  {{ if (or (eq .URL "/writing/") (eq .Params.parent "writing")) }}
  <ul class="sub-menu">
  <li><a href="/writing/on-writing-novels">On Writing Novels</a></li>

</ul>
