{{ partial "header.html" . }}
<div class="container book-taxonmy">
  <div class="gr-3 gr-3@tablet gr-12@mobile">
    {{ partial "books_menu.html" .}}
  </div>
  <div class="gr-9 gr-9@tablet gr-12@mobile">
    <div class="container">
      <div class="gr-12">
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <h2 class="subtitle">{{.}}</h2>
        {{ end }}
        {{.Content}}
      </div>
      <div class="cover-container">
      {{ range .Pages }}
      <div class="gr-2@desktop gr-4@tablet gr-4@mobile">
        <a href="{{.Permalink}}">
          <div class="wrapper">
          {{ with index .Params.covers 0}}
          <img src="{{ .thumbnail }}" />
          {{ end }}
          </div>
          <div class="title">
            {{.Title}}
          </div>
        </a>
      </div>
      {{ end }}
      </div>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
