{{ partial "header.html" . }}
<div class="container book-taxonmy">
  <div class="gr-3 gr-3@tablet gr-12@mobile">
    {{ partial "books_menu.html" .}}
  </div>
  <div class="gr-9 gr-9@tablet gr-12@mobile">
    <div class="container">
      <div class="gr-12">
        <div class="breadcrumbs">
          <a href="/books/">books</a> &raquo; {{ .Title }}
        </div>
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}
        <h2 class="subtitle">{{.}}</h2>
        {{ end }}

        {{.Content}}
      </div>
      {{ range .Pages }}
      <div class="gr-3 gr-6@tablet gr-12@mobile">
        <a href="{{.Permalink}}">
          {{ with index .Params.covers 0}}
          <img src="{{ .thumbnail }}">
          {{ end }}
          <br/>
          {{.Title}}
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
